/* 局部引用文件不生成对应的独立css文件 */

/* 通用颜色 */
$deep-green: #23655b;
$deep-blue: #17a2b8;
$font-grey: #6e6e6e; /* 灰色文字 */
$font-grey-light: #666; /* 灰色文字 light */
$font-white: #fff; /* 白色文字 */
$font-black: #000000; /* 黑色文字 */
$font-light-black: #999999; /* 深灰文字 */
$border-gray: #d9d9d9; /* 灰色边线 */
$border-gray-light: rgba(225, 225, 225, 0.5); /* 灰色边线 light */
$border-gray-light-no-opacity: rgba(225, 225, 225, 1); /* 灰色边线 light no opacity*/
$border-light-gray: #e0e0e0; /* 灰色边线 */
$bg-light-gray: #e9e9e9; /* 浅灰色背景 */
$popup-background-gray: #999999; /* popup 遮罩背景色 灰色 */
$star-color-yellow: #FEAF25; /* 星星 黄色 */
$star-color-gray: #cccccc; /* 星星 灰色 */
